{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{{section.title}}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andada+Pro&family=Scheherazade+New&display=swap" rel="stylesheet">
    {% block style %} {% endblock %}
</head>
<body>
    <section>
    <header class="header">
        <div class="logo">
        <a href="{% url 'jeetests:home' %}">
            Blue Edu
        </a>
        </div>
        <div class="nav-bar">
            <div class="nav-1st"></div>
            <div class="nav-2nd"></div>
            <div class="nav-3rd"></div>
        </div>
        <div class="nav-links">
            <div class="main-links">
                <ul>
                    <div class="ul-links">
                    <li><a href="{% url 'jeetests:home' %}">Home</a>
                        <button class="extra-links-button"><img src="https://img.icons8.com/ios-glyphs/30/000000/expand-arrow--v2.png"/ width='20px' height='20px'></button>
                    </li>
                        <div class="extra-links">
                            <ul class="embed-links">
                                <li class="e-links"><a href="{% url 'jeetests:home' %}">About</a></li>
                                <li class="e-links"><a href="{% url 'jeetests:home' %}">Contact</a></li>
                                <li class="e-links"><a href="{% url 'jeetests:home' %}">Blog</a></li>
                            </ul>
                        </div>
                    <li><a href="{% url 'jeetests:home' %}">SomeWhere</a>
                        <button class="extra-links-button"><img src="https://img.icons8.com/ios-glyphs/30/000000/expand-arrow--v2.png"/ width='20px' height='20px'></button>
                    </li>
                        <div class="extra-links">
                            <ul class="embed-links">
                                <li><a href="#">ho</a></li>
                            </ul>
                        </div>
                    </div>
                </ul>
            </div>
            <div class="user-links">
                <ul>
                    <div class="ul-links">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'user_auth:dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'user_auth:profile' %}">Settings</a></li>
                    <li><a href="{% url 'user_auth:logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'user_auth:login' %}">Login</a></li>
                    <li><a href="{% url 'user_auth:signup' %}">Sign Up</a></li>
                {% endif %}
                </div>
                </ul>
            </div>
        </div>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <div class="footer-links">
            <a href="{% url 'jeetests:home' %}">Home</a>
            {% if user.is_authenticated %}
                <a href="{% url 'user_auth:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'user_auth:login' %}">Login</a>
                <a href="{% url 'user_auth:signup' %}">Sign Up</a>
            {% endif %}
        </div>
        <div class="footer-copyright">
            <p>&copy; 2020, All rights reserved Blue Education</p>
        </div> 
    </footer>
    </section>
    <script src="{% static 'base.js' %}"></script>
    {% block script %} {% endblock %}
</body>
</html>