.reach-link a {
    color: #00f;
}
.link-to-add {
    background: rgb(8, 8, 8);
    display: inline-block;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: black 0px 0px 10px;
    margin: 1em 0em 1em 0.5em !important;
    position: sticky;
    top: 40px;
    margin-left: auto;
    z-index: 1;
}
.actions-list {
    position: sticky;
    top: 0;
    z-index: 2;
}


.reach-link {
    background:white;
}


form .assign-things input[type='radio']{
    display: inline-block;
    margin-left: 1.2em;
    position: relative;
}



.assign-things {
    margin-left: 1.2em;
    position: fixed;
    right:0;
    top:250px;
    bottom:0;
    background:rgb(4, 190, 214);
    text-transform: capitalize;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
    overflow:auto;
    z-index: 4;
    word-break:break-all;
}
form .assign-things input[type='radio']{
    display: inline-block;
    margin-left: 1.2em;
    position: relative;
}

.assign-things_toggle {
    transform: translateX(0%);
}
