* {
    margin: 0px;
    padding:0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body { 
    background-color: rgb(223, 229, 235);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
section {
    display: flex;
    flex-flow: column wrap;
}
a {
    color:rgb(243, 245, 243);
    text-decoration:none;
    cursor: pointer;
}
 
a:hover {
    color:rgb(255, 255, 255);
    text-decoration:underline;
}
.logo {
    border-radius: 10px;
    padding: 10px;
    font-style: italic;
}
.logo a:hover {
    text-decoration: none;
}
header {
    background-color: rgb(36, 115, 194);
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    min-height: 50px;
    box-shadow: 0px 1px 1px rgb(55, 72, 167),
                0px 0px 2px rgb(40, 90, 199);
}
header ul li {
    list-style: none;
}
/*
header .nav-links {
    display: flex;
    margin-left: auto;
    padding: 10px;
    margin-right:1em;
    flex-flow: row wrap;
}
*/
@media screen and (min-width: 900px) {
    .nav-links {
        display: flex;
        flex-flow: row wrap;
        margin-left: auto;
        margin-bottom: auto;
        position: relative;
        border: 1px solid;
        align-items: center;
        justify-content: center;
        padding: 0.2em;
    }
    .ul-links {
        display: flex;
        flex-flow: row wrap;
    }
    .extra-links {
        position: absolute;
        top:50px;
        left: 0;
        right: 0;
        background:rgba(120, 182, 243,0.5);
        border-radius: 10px;
        box-shadow: rgb(193, 207, 221) 0px 2px 10px;
        padding: 1em;
        transition: all 0.5s ease-in-out;
    }
    .extra-links ul {
        display: flex;
        flex-flow: row wrap;
    }
    .main-links {
        border: 1px solid;
        margin-right: 1em;
    }
}
.extra-links {
    display: none;
    flex-flow: column wrap;
    border-left: 5px solid rgb(36, 68, 156);
    margin-left: 1em;
    transition: all 1.5s ease-in-out;
}
.extra-links-button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 1em;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    width: 30px;
    height: 30px;

}
/*
.main-links li::before {
    content:">";
    margin-right: 1em;
    font-size: 1em;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.main-links li:hover::before {
    color: rgb(112, 36, 36);
}
.rotate-arrow {
    transform: rotate(90deg);
}
*/

.extra-links-button-rotate {
    transform: rotateX(180deg);
}


.extra-links-show {
    display: flex;
    transition: all 1.5s ease-in-out;
}
header a {
    text-decoration: none;
    padding: 0.5em;
    margin-right: 0.5em;
} 

footer {
    margin-top: auto;
    background-color: rgba(35, 16, 212, 0.87);
    box-shadow: 0px 0px 10px rgb(230, 207, 207);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    min-height: 30vh;
    margin-top: 10vh;
}
footer a {
    text-decoration: none;
    padding: 0.5em;
    margin-top: 0.5em;
    display: block;
}
@media screen and (max-width: 899px) {
    .nav-bar {
        height: 2em;
        width: 2em;
        padding: 2px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        margin-right: 1em;
        margin-left: auto;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }
    .nav-1st, .nav-2nd, .nav-3rd {
        background-color: rgb(255, 255, 255);
        width: 80%;
        height: 9%;
        position: relative;
        margin: 2px;
        transition: all 0.5s ease-in-out;
    }
    .nav-links{
        display: flex;
        flex-flow:column wrap;
        transition: all 0.5s ease-in-out;
    }

    .nav-links {
        position: absolute;
        top: 50px;
        bottom: 0;
        right: -5%;
        left: 0;
        background: rgba(49, 98, 170,0.8);
        z-index: 2;
        transform: translatex(150%);
    }
    .nav-links li {
        margin: 1em;
    }
    .main-links  {
        margin: 1em;
        margin-left: 40%;
        margin-bottom: auto;
    }
    .user-links {
        margin-top: auto;
        margin-left: 40%;
    }
    .user-links li {
        width: 100%;
    }
        
    
    
}
@media screen and (max-width:340px) {
    body {
        font-size: 0.9em;

    }
}

.nav-bar-active {
    outline: 2px solid rgb(75, 25, 25);
}
.nav-1st-rotate{
    transform: rotate(45deg) translateX(-1px) ;
}
.nav-2nd-rotate {
    opacity: 0;
}
.nav-3rd-rotate {
    transform: rotate(-45deg) translateX(-1px);
}

.translate-navbar {
    transform: translatex(0%);
}
.embed-links-show {
    display: block;
}