main {
    background-color: #f5f7f8;
}
.test-heading {
    font-family: "Source Sans Pro",Arial,sans-serif;
    font-size: 24px;
    margin-left: 6rem;
    margin-top: 2em;
    font-weight: 400;
    }
.card-position {
	position: relative;
	display: flex;
	overflow: auto;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
	}
	/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {


}

.explore-card1 {
	background-image: url('https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/browse/domains/data_science.png?auto=compress&dpr=1&h=100&fit=crop');

}
.explore-card2 {
	background-image: url('https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/browse/domains/computer_science.png?auto=compress&dpr=1&h=100&fit=crop');
}
.explore-card3 {
	background-image: url('https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/browse/domains/information_technology.png?auto=compress&dpr=1&h=100&fit=crop');
}
.explore-card4 {
	background-image: url('https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/browse/domains/business.png?auto=compress&dpr=1&h=100&fit=crop');
}
.card-link {
	text-decoration: none;
}

.explore-card,.explore-card1,.explore-card2,.explore-card3,.explore-card4 {
	background-size: cover;
	margin: 1em;
	width: 19rem;
	height: 9rem;
	color: white;
	justify-content:center;
	align-items:center;
}
.explore-card:hover,
.explore-card1:hover,.explore-card2:hover,.explore-card3:hover,.explore-card4:hover {
	box-shadow: black 1px 1px 5px;
	transform: scale(1.01);
}
.explore-card {
	background-color: rgba(120,150,120,0.5);
	color: black;
}
.explore-card {
	height: 15rem;
}
.tests-links {
    color: white;
    width: 70%;
    margin: auto;
    font-size: 1.2em;
    word-break: break-all;

}
.test-description {
    padding: 5px;
    word-break: break-all;
    color: rgb(231, 211, 211);
}
.live-logo {
    color: rgb(8, 8, 8);
    width: 60px;
    text-align: center;
    display: inline;
    border-radius: 5px;
    padding: 2px;
    animation: fadeText 2s ease infinite alternate;
    background: rgb(224, 177, 177);
}
.time {
    margin: 1em;
    padding: 1em;
    color: white;
}
.time div {
    margin: 0.5em;
}

.home-links {
   border: 2px solid rgb(176, 176, 223); 
   background-image: linear-gradient(to bottom, #188080 20%, #88c4c4 100%);
   width: 400px;
   min-height: 15em;
   margin: 2em;    
   border-radius:  10px;
   box-shadow: rgb(140, 140, 145) 0px 0px 10px;
   text-transform: capitalize;
   transition: all 0.1s ease-in;
   align-self: center;
   display: flex;
   flex-flow: column;
   justify-content: center;
}
.home-links:nth-of-type(n) {
    background-image: linear-gradient(to bottom, #145a5a 0%, #1fc9c9 100%); 
    background-size: cover;
}
.home-links:nth-of-type(2n) {
    background-image: linear-gradient(to bottom, #131818 0%, #091818 100%); 
    background-size: cover;
}
.home-links:nth-of-type(3n) {
    background-image: linear-gradient(to bottom, #310935 0%, #3c9999 100%); 
    background-size: cover;
}

.home-links:hover {
    transform: scale(1.01);
}

.give-test {
    position: relative;
    display: inline;
    align-self: center;
    margin: 0.8em;
}
.give-test button {
    margin-top: auto;
    cursor: pointer;
    background-color:rgb(135, 150, 214);
    border: none;
    border-radius:10%;
    width: 80px;
    height: 35px;
    font-weight: bold;
    color: white;
    margin: 0.5em;
    transition: all 0.4s ease-in;
}
.give-test button:hover {
    background: rgb(166, 164, 255);
    color: black;
}
li {
    list-style-type: none;
}


.select-exam {
    margin-bottom: 3em;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
.select-type {
    align-self: center;
    margin-top: 3em;
    position: relative;
}
.select-type select {
    width: 100px;
    border: none;
    border-radius: 0.4em;
    padding: 5px;
    background: rgb(12, 76, 97);
    color: white;
}
.select-type option {
    background: rgb(12, 76, 97);
    color: white;
    border: none;
    border-radius: 0.4em;
    padding: 5px;
    margin: 20px;
}
.after-header {
    background-size: cover;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content:flex-start;
    border-radius:0px 0px 0px 20px;
    box-shadow: rgb(140, 140, 145) 10px 0px 10px;
}

.card-shadow {
    box-shadow: rgb(173, 173, 173) 0px 0px 3px,
                rgb(173, 173, 173) 0px 5px 5px;
    border-radius: 5px;
}
.card-shadow:hover {
    box-shadow: rgb(83, 83, 83) 0px 0px 8px;
    transform: scale(1.01);
}
.card-shadow a {
    color: black;
    text-decoration: none;
}
.title {
    font-weight: bold;
    font-size: 1.5rem;
}
.timer-show {
    position: relative;
    margin-top:-1.5em;
}
.image-show {
    position: relative;
    width: 100%;
    border-radius: 5px;
}

.content {
    position: relative;
    width: 100%;
    min-height: 50vh;
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.75;

}
.motivation {
    position: relative;
    font-weight: bold;
    font-size: 3.75rem;
    margin-left: 20px;
 }

.motivation-paragraph {
    position: relative;
    font-weight: bold;
    margin-left: 20px;
    color:rgb(179, 49, 49);
}


@keyframes fadeText {
    from {
        color: rgb(5, 4, 4);
    }
    to {
        color:rgb(162, 163, 162);
    }
}
@media screen and (min-width: 700px) {
    .links-section {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-around;
    }

    
}
@media screen and (max-width: 400px) {
    .home-links {
        width: 230px;
        font-size: 0.8em;
    }
<<<<<<< HEAD
}
=======
    .card-course {
	margin-right: 1rem;
	}
   .test-heading {
	   margin: 2px;
	}
}
>>>>>>> development
