{% extends 'base.html' %}
{% load static %}
{% load index %}

{% block title %} {{head_title}} {% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'home.css' %}">{% endblock %}

{% block content %}
<main>
<div class="card text-white">
<div class="after-header">
</div>
</div>


{% comment %} Show titles if live titles are avilable {% endcomment %}
{% if is_live_titles %}
<h3 class="test-heading">Live Tests</h3>
<section class="links-section">
  <div class="container">
    <div class="row">
      {% for title in live_titles %}
      <div  style="margin-left: 15px;">
        <div class="card  mb-3 card-shadow card-course" style="width: 16rem;height: 19rem;min-height:15rem;overflow-y:auto;">
          <a href="{% url 'jeetests:index' title.id %}">
          {% if title.Front_image %}
            <img src="{{title.Front_image.url}}" class="card-img image-show" style="height: 7rem;">
          {% else %}
            <img src="{% static 'logo5.png' %}" class="card-img image-show" style="height:7rem;">
          {% endif %}
          <div class="card-img-overlay">
            <div class="card-header timer-show" style="background: lightblue;font-weight: bold;">
                <div class="live-logo">live</div>
                <div>Schedule Time: {{title.scheduled_time}}</div>
            </div>
          </div>
          <div class="card-title">
            <h4 class="title" style="padding: 5px;">{{ title.Question_Paper_Title|title }}</h4>
          </div>
          <div class="card-body" style>
            {{title.description|safe}}
          </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}

<h3 class="test-heading">Tests</h3>
<section class="links-section">
  <div class="container">
    <div class="row">
      {% for title in titles %}
      <div  style="margin-left: 15px;">
        <div class="card  mb-3 card-shadow card-course" style="width: 16rem;height: 19rem;min-height:15rem;overflow-y:auto;">
          <a href="{% url 'jeetests:index' title.id %}">
          {% if title.Front_image %}
            <img src="{{title.Front_image.url}}" class="card-img image-show" style="height: 7rem;">
          {% else %}
            <img src="{% static 'logo5.png' %}" class="card-img image-show" style="height:7rem;">
          {% endif %}
          <div class="card-title">
            <h4 class="title" style="padding: 5px;">{{ title.Question_Paper_Title|title }}</h4>
          </div>
          <div class="card-body" style>
            {{title.description|safe}}
          </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
</main>
<script src="{% static 'home.js' %}">
</script>
{% endblock %}
