.main-dashboard {
  display: flex;
  flex-flow: row wrap;
  font-size:0.9em;

}

/*
.dashboard {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    background-color: #fff;
}
*/
.result {
    position: relative;
    margin-top: auto;
}
.dash-user {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    background-color: #fff;
    text-align: center;
    text-transform: capitalize;
}

@media screen and (max-width: 450px) {
    .result  {
        width: 100%;
        border-collapse: collapse;
        margin-right: auto;
        margin-left: 0em;
    }
    .result tr td {
        padding: 3px;
        border: 1px solid rgb(243, 243, 243);
        text-align: center;
    }
    
}


