.forgot-link ,.register-link{
    font-size: 1.01em;
    font-weight: bold;
    text-decoration: none;
    margin: 1em;
    align-self: center;
    }

.forgot-link a,
.register-link a{
   color: #006699; 
   margin-left: 10px;
   border-bottom: 1px solid #006699;
}
   
