{% extends 'base.html' %}
{% load static %}
{% block style %}{{form.media}}{% endblock %}

{% block content %}
<from action="" method="post"> {% csrf_token %}
<input type="submit" value="submit">
<textarea class="new"></textarea>
</form>
<script src="https://cdn.ckeditor.com/ckeditor5/31.0.0/classic/ckeditor.js"></script>
<script src="{% static 'ckeditor/src/ckeditor.js' %}"></script>
<script>
            ClassicEditor
                        .create( document.querySelector( 'textarea' ) )
                        .catch( error => {console.error( error );} );
</script>
{% endblock %}
