{% extends 'base.html' %}
{% load static %}

<!-- head title -->
{% block title %} Change Password {% endblock %} 

<!-- main page block --> 
{% block content %}
{% if message %}
<ul>
	<li>{{message}}</li>
</ul>
{% endif %}

{% if otp %}
<ul>
    <li>Resend:otp sent sucessfully to your register email id</li>
</ul>
{% endif %}

<form method="post" action="{% url  'user_auth:change-pass' %}">
{% csrf_token %}
{{form}}
<input type="submit" value="submit">
</form>

<!-- resend otp form -->
<form method='post' action="{% url 'user_auth:resend_otp' 'change' %}">{% csrf_token %}
	<button class="btn btn-primary">Resend OTP </button>
</form>
<!-- end of resend otp form -->
{% endblock %}
<!-- end main page block -->
