{% extends 'base.html' %}
{% load static %}
{% block title %}{{user}} Dashboard {% endblock %}
{% block style %} 
    <link rel='stylesheet' href="{% static 'table.css' %}">
    <link rel='stylesheet' href="{% static 'dashboard.css' %}">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
  // barsVisualization must be global in our script tag to be able
  // to get and set selection.
  var barsVisualization;
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawMouseoverVisualization);

  function drawMouseoverVisualization() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Year');
    data.addColumn('number', 'Score');
    data.addRows([
      ['2005',3.6],
      ['2006',4.1],
      ['2007',3.8],
      ['2008',3.9],
      ['2009',4.6]
    ]);

    barsVisualization = new google.visualization.ColumnChart(document.getElementById('mouseoverdiv'));
    barsVisualization.draw(data, null);

    // Add our over/out handlers.
    google.visualization.events.addListener(barsVisualization, 'onmouseover', barMouseOver);
    google.visualization.events.addListener(barsVisualization, 'onmouseout', barMouseOut);
  }

  function barMouseOver(e) {
    barsVisualization.setSelection([e]);
  }

  function barMouseOut(e) {
    barsVisualization.setSelection([{'row': null, 'column': null}]);
  }

</script>
{% endblock %}
{% block content %}
{% if data %}
<div class="main-dashboard">
    <div class="dash-user">
        {{user}} Exam history
    </div>
    <div class="table-responsive">
    <table class='table caption-top align-middle'>
        <caption><div class="caption">{{item.paper.exam_type}}</div></caption>
        <thead>
            <tr>
                <td>Paper Name</td>
                <td>Rank</td>
                <td>Marks</td>
                <td>Total Attempts</td>
                <td>Last Submitted At </td>
            </tr>
        </thead>
        <tbody>
        {% for item in data %}
            <tr>
                <td><a href="{% url "user_auth:view-paper" item.paper_id %}" style="color: blue;">
                    <span style='word-break:break-all;'>{{item.paper}}<span></a></td>
                <td>{{item.rank}}</td>
                <td>{{item.marks}}</td>
                <td>{{item.attempts}}</td>
                <td>{{item.submitted_at}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% else %}
<div> Nothing here</div>
{% endif %}
{% endblock %}