{% extends 'base.html' %}
{% load static %}
{% block title %}
Login page
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'table.css' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <table class="form">
        <cpation><div class="caption">Login</div></caption>
        {% if error %}
            <tr>
                <td colspan="2">{{error}}</td>
            </tr>
        {% endif %}

        {% for f in form %}
        {% if f.errors %}
            <tr class="errors">
                <td colspan="2">{{f.errors}}</td>
            </tr>
        {% endif %}
        <tr class={{f.label}}>
            <td><lable>{{f.label}}</label></td>
            <td>{{f}}</td>
        </tr>
        {% endfor %}
        <tr class='submit'>
            <td colspan="2"><input type="submit" value="Login"></td>
        </tr>
    </table>
</form>


<div class="forgot-link">
    Forgot your password? <a href="{% url 'user_auth:password_reset' %}">Click here</a>
</div>

<div class="register-link">
 Doesn't have an account? <a href="{% url 'user_auth:signup' %}">Sign Up</a>
</div>
{% endblock %}