{% extends 'base.html' %}
{% load static %}

{% block title %}Password Reset{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'table.css' %}">
{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <input type="text" name="username" class="username">
    <label for="username">Username</label>
    <input type="text" name="email" class="email">
    <label for="email">Email</label>
    <input type="submit" value="Reset">
</form>
{% endblock %}